@page
@model aspnet_biometric.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <h1 class="mb-4">Welcome @Model.UserDisplayName</h1>
    <p class="lead">Dashboard</p>
</div> 